Chapter_13/hangman/data/aspell6-en-2018.04.16-0.tar.bz2
Chapter_13/hangman/data/linuxwords.1.tar.gz
Chapter_14/wordnumber/.stack-work/
Chapter_14/morse/.stack-work/
Chapter_14/addition/.stack-work/
Chapter_14/.stack-work/
*.exe
*.o
*.hi
*.prof
*.hp
Chapter_30/test.dat
